<footer class="p-3 mb-2 text-white">
  <div class="footer">
    <p class="p">
      @Copyright:
      <br />
      Yanis Garoui - 2701981@collegelacite.ca
      <br />
      Mohamed Habib Belhaj - 2711710@collegelacite.ca
      <br />
      Sadek Belaicha - 2713175@collegelacite.ca
      <br />
       Syphax Meziani - 2713175@collegelacite.ca
    </p>
  </div>
</footer>